body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.chartdiv {
  width: 95%;
  height: 500px;
}
.severalgraphics {
  width: 100%;
}